{% load static core_tags %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Heating Dashboard" name="description" />
    <meta content="Heating Project" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- App css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    {% block extra_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<body id="body">
    <!-- Left Sidebar -->
    <div class="leftbar-tab-menu">
        <div class="main-icon-menu">
            <!-- Logo -->
            <a href="{% url 'controller:dashboard' %}" class="logo d-block text-center mb-5 mt-2">
                <img src="{% static 'assets/images/ZHC-logo-crop.png' %}" alt="logo" class="logo-sm" style="height: 40px; width: auto;">
            </a>
            <!-- Icon Menu -->
            <div class="main-icon-menu-body">
                <div class="position-relative h-100" data-simplebar style="overflow-x: hidden;">
                    <ul class="nav nav-tabs flex-column align" role="tablist" id="tab-menu">
                        {% for tab in SIDEBAR_TABS %}
                            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ tab.title }}" data-bs-trigger="hover">
                                <a href="#{{ tab.id }}" class="nav-link {% if tab.is_active %}active{% endif %}" data-bs-toggle="tab">
                                    {% if tab.icon %}<i class="{{ tab.icon }} menu-icon"></i>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sidebar content -->
        <div class="main-menu-inner">
            <div class="menu-body navbar-vertical tab-content" data-simplebar>
                <!-- Logo -->
                <a href="{% url 'controller:dashboard' %}" class="logo d-block text-center mb-5">
                    <h6 class="sidebar-logo-text mb-0" alt="logo">Zone Heating Control</h6>
                </a>
                {% for tab in SIDEBAR_TABS %}
                    <div id="{{ tab.id }}" class="main-icon-menu-pane tab-pane {% if tab.is_active %}show active{% endif %}" role="tabpanel">
                        <div class="title-box mb-2">
                            <h6 class="menu-title">{{ tab.title }}</h6>
                        </div>
                        <ul class="nav flex-column">
                            {% for link in tab.links %}
                                <li class="nav-item">
                                    <a href="{% url link.url_name %}" class="nav-link {% if link.is_active %}active{% endif %}">
                                        {{ link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end Sidebar -->


    <!-- Top Bar -->
    {% include 'includes/topbar.html' %}
    <!-- End Top Bar -->



    <div class="page-wrapper p-3">
        <!-- Page Content -->
        <div class="page-content-tab">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-end">
                                <ol class="breadcrumb">
                                    {% for crumb in breadcrumbs %}
                                    {% if crumb.active %}
                                    <li class="breadcrumb-item active">{{ crumb.name }}</li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <h4 class="page-title">{{ page_title }}</h4>
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

            <!-- Footer -->
            {% include 'includes/footer.html' %}
            <!-- End Footer -->
        </div>
    </div>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <!-- Feather Icons CDN -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <script src="{% static 'assets/js/app.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>